site_name: Omoospace Docs
site_url: https://omoolab.github.io/Omoospace/
site_author: OmooLab
site_description: Omoospace is a scalable directory structure solution for digital creation works.

repo_name: OmooLab/Omoospace
repo_url: https://github.com/OmooLab/Omoospace

nav:
  - Overview:
      - index.md
      - why.md
      - principles.md
      - yml.md
      - terms.md
  - How-to: 
      - how-to-add-suffixes.md
      - how-to-setup-folders.md
      - how-to-backup.md
  - Develop:
      - develop.md
      - contribution.md
      - API Reference:
          - apis/omoospace.md
          - apis/functions.md
          - apis/common.md
          - apis/items.md
          - apis/validators.md
          - apis/utils.md

theme:
  name: material
  logo: assets/logo.png
  language: en
  font:
    text: Open Sans
    code: Cascadia Code
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      primary: black
      toggle:
        icon: fontawesome/solid/circle-half-stroke
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: fontawesome/regular/moon
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: fontawesome/solid/moon
        name: Switch to system preference
  features:
    - header.autohide
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - content.code.copy
    - content.code.select

extra:
  version:
    provider: mike

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy; 2020 - 2024 Omoolab

plugins:
  - search
  - mkdocstrings

markdown_extensions:
  - mkdocs-click
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
