name: "Publish"

on:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.10
        run: uv python install 3.10
      - name: Build
        run: uv build
      # Check that basic features work and we didn't miss to include crucial files
      - name: Pytest test (wheel)
        run: uv run --isolated --no-project --with dist/*.whl,pytest pytest tests
      - name: Pytest test (source distribution)
        run: uv run --isolated --no-project --with dist/*.tar.gz,pytest pytest tests
      - name: Publish
        run: uv publish